* {
    margin: 0;
    padding: 0;
}

body {
    background: none !important;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --white: #ffffff;
    --light: #F8F9FA;
    --danger: #DD3444;
    --dark: #343A3F;
    --theme-color: #2e3094;
    --theme-second-color: #F5AD41;
    --button-hover-color: #2e3094;
    --black: #000000;
}

.button {
    background-color: var(--theme-color) !important;
    color: var(--white) !important;
    font-size: 10px !important;
    border-radius: 25px;
    padding: 10px 15px;
}

.button:focus {
    box-shadow: none !important;
}

.button:hover{
    border: 2px solid var(--theme-color);
    background-color: var(--theme-second-color) !important;
    color: var(--black);
}

.bg-orange-400 {
    background-color: var(--theme-color) !important;
}

.bg-orange-400:hover {
    background-color: var(--button-hover-color) !important;
}

.horizontal-line {
    height: 3px !important;
    background-color: var(--theme-color) !important;
    opacity: 1 !important;
}

/* All sections.........................
....................................
..............................
....................
*/

/* Header section................. */
.navbar-brand img {
    width: 80px;
    height: 80px;
}

.top-navbar {
    background-color: var(--theme-color) !important;
}

.header-icon {
    border: 2px solid #ffffff;
    padding: 7px;
    border-radius: 50%;
    color: var(--white);
}

.navbar.top-navbar-mobile,
.navbar.top-navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.logo-second-desktop {
    display: none;
}

.top-header li a {
    color: var(--black) !important;
}

.bottom-header .nav-item button {
    background: none;
    border: 0;
    color: var(--black);
}

.top-navbar-mobile {
    padding-left: 1rem !important;
}

.sticky{
    z-index: 50;
}

.fixed {
    background-color: var(--light);
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

/* Carousel Section........................... */
.carousel-indicators [data-bs-target] {
    width: 10px !important;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.4;
}

.main-banner .carousel-control-next,
.main-banner .carousel-control-prev {
    height: 20%;
    top: 15%;
}

.main-banner .carousel-control-next-icon,
.main-banner .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Nasa info section...................... */
.nasa-info a {
    text-decoration: none;
}

.nasa-info h3 {
    color: var(--logo-color-third);
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

.nasa-info div {
    color: var(--black);
}

.nasa-info-heading {
    color: var(--logo-color-third);
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

.nasa-info .card {
    height: 250px;
    width: 100%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    overflow: hidden;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

/* About Section........... */
.contactus-page hr,
.aboutus-page hr {
    opacity: 0.7;
}

.info-page h3,
.sub-menu-page h3,
.admission-form h3,
.contactus-page h3,
.aboutus-page h3 {
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}

/* message section........... */
.messages .grid{
    flex-direction: column-reverse !important;
}

/* Footer Section...................... */
.footer {
    background: var(--theme-color);
}

.copyright {
    background-color: var(--theme-second-color);
}

.footer hr {
    opacity: 0.4;
    margin: 0px auto !important;
    background-color: var(--white) !important;
}

/* Testimonial section................... */
.testimonial-desktop {
    display: none;
}

.student-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.student-image img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.testimonial-desktop .carousel-indicators [data-bs-target] {
    background-color: var(--black) !important;
}

.testimonial-desktop .carousel-item-next,
.testimonial-desktop .carousel-item-prev,
.testimonial-desktop .carousel-item.active {
    display: flex !important;
}

.testimonial-desktop .carousel-control-next,
.testimonial-desktop .carousel-control-prev {
    width: 50px !important;
}

.testimonial-desktop .carousel-indicators {
    bottom: -50px;
}

/* Message section.................... */
.message-provider {
    position: absolute;
    background-color: var(--white);
    bottom: 5%;
    width: 100%;
}

.message-provider h6 {
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
}

.message-provider p {
    margin-bottom: 0 !important;
}

.modal .modal-header a {
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--black);
}

.modal-content {
    background-color: var(--light) !important;
    border-top-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.modal-header {
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-title {
    color: var(--logo-color-third);
    font-weight: bold;
}

/* Admission / Inquiry form & display section............ */
.admission-form {
    background-image: linear-gradient(45deg, var(--logo-color-third), var(--black), var(--logo-color-third));
}

.admission-form-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
}

/* Services we offer................. */
.bg-red-500 {
    background: var(--theme-color) !important;
}

/* unique process............... */
.circleContainer {
    width: 410px;
    height: 410px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
}

.circle {
    position: absolute;
    left: 40px;
    top: 45px;
    width: 350px;
    height: 350px;
    border: 2px solid #c4c4c4;
    border-radius: 100%;
    -webkit-animation: rotation 100s infinite linear;
}

.circleContent {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    z-index: 20;
}

.circleContent .circleItem {
    font-size: 40px;
}

.circleContent .circleItem {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    z-index: 3;
    cursor: pointer;
    border: 3px solid var(--theme-color);
    background: #f6fbff;
    color: var(--theme-color);
    font-size: 20px;
    text-transform: capitalize;
}

.circleItem span {
    font-size: 15px;
}

/* job category section.......... */
.job-category .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
}

.job-category .card-title {
    z-index: 5;
}

.jobs .list-group .list-group-item a:hover {
    color: var(--dark)
}

/* portfolio counter section.......... */
.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

/* Media Queries............................
....................................
...........................................
........................ 
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    /* Gallery section........... */
    .video-container,
    .image-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* header section.............. */
    .top-navbar {
        display: block;
        background-color: var(--logo-color-third);
    }

    .nav-link {
        padding-left: 0px !important;
        padding-right: 10px !important;
    }

    .top-navbar ul li a {
        color: var(--white) !important;
    }

    .top-navbar-mobile {
        display: none;
    }

    /* carousel section.................. */
    .main-slider-content.carousel-caption {
        top: 40%;
    }

    .main-banner .carousel-control-next,
    .main-banner .carousel-control-prev {
        top: 40%;
    }

    /* nasa info section..................... */
    .nasa-info-content {
        height: 200px;
        overflow: hidden;
    }

    /* About section..................... */
    .about-nasa .about-image img {
        height: 400px;
    }

    .button {
        font-size: 16px !important;
    }

    /* nasa news section................. */
    .main-news img {
        height: 350px;
    }

    .side-news img {
        height: 150px;
    }

    /* message section.................. */
    .main-message-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
    }

    /* Blog section................. */
    .blog-content {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px 20px;
    }

    /* footer section................... */
    .footer .container-fluid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
    }

    /* job category............ */
    .jobs .list-group .list-group-item a:hover {
        color: var(--theme-color);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* header section.............. */
    .logo-second-desktop {
        display: block;
    }

    .logo-second-mobile {
        display: none;
    }

    .navbar-expand-lg .bottom-header {
        display: grid !important;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        gap: 0px 5px !important;
        justify-content: center;
    }

    /* carousel section.............. */
    .main-banner .carousel-control-next,
    .main-banner .carousel-control-prev {
        top: 30%;
    }

    .main-banner .carousel-control-next-icon,
    .main-banner .carousel-control-prev-icon {
        width: 4rem;
        height: 4rem;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* Contact section........... */
    .contact-map iframe {
        min-width: 500px;
    }

    /* Blog Section................ */
    .blogs-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
    }

    /* message section.................. */
    .main-message-content {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px 20px;
        justify-content: center;
    }

    /* testimonial section.................. */
    .testimonial-mobile {
        display: none;
    }

    .testimonial-desktop {
        display: block;
    }

    /* nasa info section....................... */
    .nasa-info .card {
        height: 200px;
    }

    /* About section..................... */
    .button {
        font-size: 20px !important;
    }

    /* footer section................... */
    .footer .container-fluid {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
    }

    /* news section....... */
    /* .services{
        display: grid !important;
        grid-template-columns: repeat(4, 1rf);
        gap: 10px 20px !important;
    } */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* carousel section.............. */
    .main-banner .carousel-control-next,
    .main-banner .carousel-control-prev {
        top: 50%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* Contact section........... */
    .contact-map iframe {
        min-width: 800px;
    }
}