* {
    margin: 0;
    padding: 0;
}

.bottom-header .nav-item button {
    background: none;
    border: 0;
    color: var(--black);
}

.bottom-nav-link {
    font-size: 16px;
    color: white !important;
}

.bottom-nav-link:hover {
    color: black !important;
}

.page-top-bar {
    background-color: #8AA9CE;
    padding: 30px 0px;
}

.blogs-page a {
    font-size: 16px;
}

.blogs-page .card-image img {
    width: 100%;
}


/* Media Queries............................
....................................
...........................................
........................ 
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .blogs-page .card-image img {
        max-width: 400px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .blogs-page {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .blogs-page {
        grid-template-columns: repeat(4, 1fr);
    }

    .navbar-expand-lg .bottom-header {
        display: grid !important;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        gap: 0px 5px !important;
        justify-content: center;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}