{% extends 'admin/admin_dashboard.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3>Create Statistics</h3>
    <div class="banner-form">
        <form method="POST" action="{% url 'create_counter' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="name">Title</label>
                <input type="text" name="name" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group mb-3">
                <label for="value">Value</label>
                <input type="text" name="value" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group mb-3">
                <label for="image">Image</label>
                <input type="file" name="image" class="form-control" id="" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <div class="banner-contents mt-5">
        <table class="table table-responsive">
            <thead class="bg-light">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for counter in counter %}
                <tr>
                    <td>{{counter.name}}</td>
                    <td>
                        <a href="{% url 'edit_counter' counter_id=counter.id %}"><i class="fas fa-edit text-info"></i></a>
                        <a href="{% url 'delete_counter' counter_id=counter.id %}" class="delete_blog text-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}