{% extends 'admin/admin_dashboard.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3>Create Blog</h3>
    <div class="banner-form">
        <form method="POST" action="{% url 'create_blog' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            <div class="form-group mb-3">
                <label for="blog_image">Image</label>
                <input type="file" name="blog_image" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group mb-3">
                <label for="blog_title">Title</label>
                <input type="text" name="blog_title" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group mb-3">
                <label for="blog_author">Author</label>
                <input type="text" name="blog_author" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group mb-3">
                <label for="short_desc">Short Description</label>
                <textarea rows="3" name="short_desc" class="form-control" id="short_desc" placeholder=""></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="long_desc">Long Description</label>
                <textarea rows="5" name="long_desc" class="form-control" id="short_desc" placeholder=""></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <div class="banner-contents mt-5">
        <table class="table table-responsive">
            <thead class="bg-light">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for b in blog %}
                <tr>
                    <td>{{b.blog_title}}</td>
                    <td>
                        <a href="{% url 'edit_blog' blog_id=b.id %}"><i class="fas fa-edit text-info"></i></a>
                        <a href="{% url 'delete_blog' blog_id=b.id %}" class="delete_blog text-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    CKEDITOR.replace('short_desc');
    CKEDITOR.replace('long_desc');
    var editor = CKEDITOR.instances['short_desc', 'long_desc'];
    editor.setData();
</script>

{% endblock %}