{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="px-4 py-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-8">
        <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
            {% for blog in blogs %}
            <div class="overflow-hidden transition-shadow duration-300 bg-white rounded shadow-sm">
                {% if blog.blog_image %}
                <img src="{{blog.blog_image.url}}" class="object-cover w-full h-64" alt="" />
                {% else %}
                <img src="{% static 'images/place.jpeg' %}" class="object-cover w-full h-64" alt="" />
                {% endif %}
                <div class="p-5 border border-t-0">
                    <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
                        <a href="/" class="transition-colors duration-200 text-blue-gray-900 hover:text-blue-900"
                            aria-label="Category" title="traveling">traveling</a>
                        <span class="text-gray-600">— {{blog.created_at}}</span>
                    </p>
                    <a href="{% url 'blogs' blog_id=blog.id %}" aria-label="Category" title=""
                        class="inline-block mb-3 text-2xl font-bold leading-22 transition-colors duration-200 hover:text-blue-900">
                        {{blog.blog_title}}</a>
                    <p class="mb-2 text-gray-700">
                        {{blog.short_desc | safe}}
                    </p>
                    <a href="{% url 'blogs' blog_id=blog.id %}" aria-label=""
                        class="inline-flex items-center font-semibold transition-colors duration-200 text-blue-600 hover:text-blue-900">Learn
                        more</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}