{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-top-bar"></div>
<div class="container-fluid bg-light py-3">
    <div class="buttons d-flex justify-content-between align-items-center mb-md-5 mb-3">
        <div class="image-button m-auto">
            <a class="btn button" type="button" id="image_button">Images</a>
        </div>
        <div class="video-button m-auto">
            <a class="btn button" type="button" id="video_button">Videos</a>
        </div>
    </div>
    <div class="images" id="images">
        <h3 class="mb-3">Nasa's Images Gallery</h3>
        <div class="image-container">
            {% for i in image %}
            <div class="image-box mb-3 mb-md-0">
                <img src="{{i.media.url}}" alt="" srcset="" width="100%" height="200">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="videos" id="videos">
        <h3 class="mb-3">Nasa's Videos Gallery</h3>
        <div class="video-container">
            {% for v in video %}
            <div class="image-box mb-3 mb-md-0">
                <iframe width="100%" height="265" src="{{v.video_url}}" allowfullscreen></iframe>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}