{% extends 'base.html' %}
{% load static %}
 
{% block content %}
<div class="container-fluid blogs-page">
    {% for n in news %}
    <div class="card px-2 py-2 flex-md-row mb-4 mb-lg-0">
        <div class="card-text mb-3 mb-lg-0">
            <h3>{{n.title}}</h3>
            <p>{{n.created_at}}</p>
            <a href="{% url 'news' news_id=n.id %}">View Details</a>
        </div>
        {% if n.news_image %}
        <div class="card-image">
            <img src="{{n.news_image.url}}" alt="" srcset="" height="200" width="250">
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}